<div class="panel panel-primary" *ngIf="product">
    <div class="panel-heading text-center">
        {{ title }}
    </div>
    
    <div class="panel-body">
        <div class="row">
            
            <!-- Product details -->
            <div class="col-sm-6 product-details">
                <div class="row">
                    <div class="col-sm-3">
                        Product Name :
                    </div>
                    <div class="col-sm-5 col-sm-offset-2">
                        <strong>{{ product.productName }}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        Product Code :
                    </div>
                    <div class="col-sm-5 col-sm-offset-2">
                        <strong>{{ product.productCode }}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        Description :
                    </div>
                    <div class="col-sm-5 col-sm-offset-2">
                        <strong>{{ product.description }}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        Star rating :
                    </div>
                    <div class="col-sm-5 col-sm-offset-2">
                        <ai-star [rating]="product.starRating"></ai-star>
                    </div>
                </div>
            </div>

            <!-- Product image -->
            <div class="col-md-6">
                <div class="row">
                    <img [src]="product.imageUrl" alt="" class="img-rounded center-block img-responsive img-small">
                </div>
            </div>

        </div>
    </div>

    <div class="panel-footer">
        <a (click)="backToProducts()" class="btn btn-primary">
            <i class="glyphicon glyphicon-chevron-left">
            </i>
            Back
        </a>
    </div>
</div>